{% extends 'base.html' %}
{% block title %}
    Solar
{% endblock %}
{% block content %}
<link href="{{ url_for('static',filename='css/student/index.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'>




<div class="chat">
  <div class="chat-title">
    <h1>Solar</h1>
    <h2>Un gran poder...🌱</h2>
    <figure class="avatar">
      <img src="/static/img/icons/solar_icon_chat.png" /></figure>

  </div>
  <div class="messages">
    <div class="messages-content"></div>
  </div>
  <div class="message-box">
    <textarea type="text" class="message-input" id="question" placeholder="Escribe un mensaje..."></textarea>
    <button type="submit" class="message-submit"> <ion-icon name="send"></ion-icon></button>
  </div>

</div>

<div class="options-container">
	<div class="options">
		<a href="{{ url_for('student.faq') }}" target="_blank" rel="noopener noreferrer">📑Preguntas Frecuentes</a>
		<a href="{{ url_for('student.keywords') }}" target="_blank" rel="noopener noreferrer">🗝️Palabras Clave</a>
		<a href="{{ url_for('student.contact_with_us') }}" target="_blank" rel="noopener noreferrer">📧¡Contáctate con Nosotros!</a>
		<a href="{{ url_for('student.suggest_question') }}" target="_blank" rel="noopener noreferrer">💬¡Colabora una pregunta!</a>
		<a href="{{ url_for('student.logout') }}">💥Cerrar Sesión</a>
	</div>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.contact.min.js') }}""></script>
<script src="{{ url_for('static', filename='js/student/index.js') }}"></script>


{% endblock %}
