{% extends 'base.html' %}
{% block title %}
    Palabras Clave
{% endblock %}
{% block content %}
<link href="{{ url_for('static',filename='css/student/keywords.css') }}" rel="stylesheet" type="text/css">
<div class="main_title">
    ¡Hola! 👋🏽
    <br>Aquí podrás encontrar todas las palabras Clave Existentes.
    <br>Puedes copiar la palabra clave dando click en ella.
</div>
<div class="cards-list">
    <div class="card">
        <div class="card_image">
                <div class="title">
                    🗝️ Palabra Clave 🗝️
                </div>
                <div class="keyword">
                    Tu Código de Estudiante
                </div>
                <div class="title">
                    💬 Descripción 💬
                </div>
                <div class="description">
                    Si necesitas saber quién es tu tutor y cómo puedes contactarte con dicho tutor, puedes utilizar tu código de estudiante:
                    <br><font style="color: red;">Ej. 215628999</font>
                </div>
        </div>
    </div>
    {% if keywords %}
        {% for keyword in keywords %}
    <div class="card">
        <div class="card_image">
                <div class="title">
                    🗝️ Palabra Clave 🗝️
                </div>
                <div class="keyword" onclick="copy_data(this)">
                        {{ keyword[0] }}
                </div>
                <div class="title">
                    💬 Descripción 💬
                </div>
                <div class="description">
                    {{ keyword[1] }}
                </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="card">
        <div class="card_image">
            ERROR
        </div>
    </div>
    {% endif %}
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.contact.min.js') }}""></script>
<script src="{{ url_for('static', filename='js/copyboard.js') }}"></script>

{% endblock %}
