{% extends 'base.html' %}
{% block title %}
    Solar
{% endblock %}
{% block content %}
<link href="{{ url_for('static',filename='css/student/keywords.css') }}" rel="stylesheet" type="text/css">

<div class="box">
  <ul class="directory-list">
    <li>Palabras Clave
      <ul>
        <li>Etapa Inicial
          <ul>
            <li>Reglamento Estudiante</li>
            <li>Articulo 33</li>
            <li>Articulo 34</li>
            <li>Credencial Estudiante</li>
            <li>Horarios Control Escolar</li>
            <li>Malla Curricular</li>
            <li>Centro Global de Idiomas</li>
            <li>Instalaciones Deportivas</li>
            <li>Cineteca</li>
            <li>Extraordinario</li>
            <li>Créditos por Semestre</li>
            <li>Coordinador Carrera</li>
            <li>Baja de Materia</li>
            <li>Calendario Escolar</li>
            <li>Semana Ciencia</li>
            <li>Registro Materias</li>
            <li>Orden de Pago</li>
            <li>Psicología</li>
            <li>Reprobar</li>
            <li>Extraordinario</li>
            <li>Justificante</li>
            <li>Evaluación</li>
            <li>Derecho Ordinario</li>
            <li>Protección Civil</li>
            <li>Cineteca</li>
            <li>Cineteca</li>
          </ul>
        </li>
        <li>Etapa Media
          <ul>
            <li>custom.js</li>
            <li>jquery.js</li>
          </ul>
        </li>
        <li>Etapa Final
          <ul>
            <li>logo.svg</li>
            <li>arrow-sprite.svg</li>
            <li>social-sprite.svg</li>
          </ul>
        </li>
        <li>functions.php</li>
      </ul>
    </li>
    <li>Tu código de estudiante = Tu tutor.</li>
    <li>style.css</li>
  </ul>
</div>
{% endblock %}