{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}
{% block content %}
<link href="{{ url_for('static',filename='css/student/login.css') }}" rel="stylesheet" type="text/css">
<div class="overlay">
    <div class="container">
       <div class="con">
       <header class="head-form">
          <img src="/static/img/icons/solar_icon_head.png" alt="Solar" class="solar-img">
          <h2>Iniciar Sesión</h2>
       </header>
       <br>
       <form action="{{ url_for('student.verify') }}" method="POST">
            <div class="field-set">
                    <span class="input-item">
                        <ion-icon name="person-circle-sharp"></ion-icon>
                    </span>
                    <input class="form-input" name="code" id="txt-input" type="text" placeholder="Código de Alumno" required>
                    <br><br>
                <button type="submit" class="log-in">Ingresar</button>
            </div>
        </form>
    </div>
      </div>
</div>
{% endblock %}