{% extends 'base.html' %}
{% block title %}
    Sugerir Pregunta
{% endblock %}
{% block content %}
<link href="{{ url_for('static',filename='css/student/suggest_question.css') }}" rel="stylesheet" type="text/css">
<form action="{{ url_for('student.sending_email_suggestion') }}" class="form" method="post">
    <h2>SUGERENCIAS</h2>
    <p type="Nombre:"><input placeholder="Escribe tu nombre..." type="text" name="name" required></input></p>
    <p type="Correo:"><input placeholder="Déjanos cómo contactarnos contigo..." type="email" name="email" required></input></p>
    <p type="Mensaje:"><input placeholder="Qué nos quieres decir..." type="text" name="message" required></input></p>
    <button type="submit">Enviar</button>
    <div>
      <span class="fa fa-envelope-o"></span> solarbotsupp@gmail.com
    </div>
</form>
{% endblock %}
