<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/static/img/icons/solar_icon_head.png" type="image/x-icon">
  <title>FAQ</title>
  <link href="{{ url_for('static',filename='css/student/faq.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">

  <h2>Preguntas Frecuentes 📎</h2>

  <div class="accordion">
    <div class="accordion-item">
      <a>¿Quién es Solar? 🤔</a>
      <div class="content">
        <p>Solar es un asistente virtual con Reconocimiento de Palabra Clave 🤖 donde podrá ayudarte a
            resolver las dudas comunes de los estudiantes por la falta de comunicación y
            la forma de no saber cómo acercarse para tener alguna respuesta de sus dudas.</p>
      </div>
    </div>
    <div class="accordion-item">
      <a>Por qué el nombre "Solar"? 🐸</a>
      <div class="content">
        <p>Se realizó una encuesta en CUT y hubo muchos nombres para una mascota para el CUT,
            existieron muchos nombres creativos, sin embargo, hubo 1 persona (no sabemos quién)
            nos sugerió Solar, por los paneles solares que maneja el CUT y lo ecológico que es.
          Donde sea que estés, amig@, el nombre de nuestra Ranita es gracias a ti y a la comunidad. 💚
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <a>¿Qué preguntas puedo realizar? 🤓 </a>
      <div class="content">
        <p>
          Cualquier tipo de preguntas que tengan relación con dudas en general,
          como pudiese ser becas, servicio social, titulación, materias, acreditación,
          intercambios, etc, etc.
          Puedes checar más en la sección "Palabras Clave"🗝️
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <a>No tuve respuesta a mi pregunta, ¿Qué hago? 😢</a>
      <div class="content">
        <p>Solar lamenta leer este tipo de comentarios 😔.
            Para poder tener una retroalimentación,
            podrá mandarnos un correo electrónico en el apartado "Colaborar con una pregunta" para así,
            poder validarlo.</p>
      </div>
    </div>
    <div class="accordion-item">
      <a>¿Puedo colaborar en este proyecto? 🥺</a>
      <div class="content">
        <p>Claro que sí, la intención de este proyecto es que sea Open Source para que,
            las personas que no tienen ninguna experiencia laboral y están en busca de oportunidades,
            puede participar aquí, al igual que, mejorar cada vez más este proyecto y no quede obsoleto.
          <br><br> ¡Pull Requests son bienvenidos! 🥳😃
        </p>
      </div>
    </div>

  </div>

</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/guest/faq.js') }}"></script>
</body>
</html>
