@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Patrick+Hand&display=swap');

*{
	margin: 0;
	box-sizing: border-box;
	font-family: 'Patrick Hand', cursive;
	text-decoration: none;
}

html{
  font-size: 62.5%;
}

body{ 
	background: linear-gradient(45deg, #7bf1a8 37.47%, #bad7f2 92.82%);
	overflow: hidden;
}

header{
	width: 100%;
	display: flex;
	align-items: right;
	justify-content: space-between;
	position: fixed;
	top:0; 
	padding: 2rem 5rem;
}


.solar-icon img{
	width: 50px;
	height: 50px;
}

nav ul{
	list-style: none;
	display: flex;
	align-items: right;
	justify-content: space-around;
}

nav ul li{
	margin: 0 1rem;
}

nav ul li a{
	font-size: 2rem;
	color: #333;
	padding: .5rem 2rem;
	border-radius: 5rem;
	transition: .2s linear;
}

nav ul li a:hover{
	background: #ffffff;
	color: #333;
	letter-spacing: .2rem;
}


.logo{
	color: #333;
}

.logo h1{
	font-size: 3rem;
	display: inline;
}

.container{
	min-height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.content{
	color:#333;
	width: 40vw;
	padding-top: 12rem;
}


.content h1{
	font-size: 5.5rem;
}


.content p{
	font-size: 2rem;
	margin: 2rem 0;
	color: #363636;
}

.buttons button{
	outline: none;
	border: none;
	background: #fff;
	transition: .2s linear;
	cursor: pointer;
	border-radius: 5rem;
	font-weight: bold;
	color: #333;
	height: 4rem;
	width: 15rem;
	font-size: 2rem;
}


.buttons button:hover{
	border: .5rem solid #fff;
	color: #333;
	letter-spacing: .2rem;
}

.buttons a:nth-child(2) button{
	margin-left: 2rem;
}


.icons{
	padding-top: 10rem;
	padding-bottom: 10rem;
}



.icons ion-icon{
	font-size: 1rem;
	height: 3.1rem;
	width: 3.1rem;
	color: #333;
	margin-left: 1rem;
	text-align: center;
	transition: .2s linear;
}

.icons ion-icon:hover{
	border: .2rem solid none;
	background: none;
	color: #000000
}

.image {
	margin-top: 0;
}

.image img{
	width: 30vw;
	animation: image .5s linear;
}

@keyframes image {
	0%{
		transform: translateY(-5rem);
		opacity: 0;
	}
}

@media (max-width: 750px) {
	.icons{
		padding-top: 4rem;
	}
	.image {
		display: none;
		visibility: hidden;
	}

	.container{
		width: 100%;
	}

	.content{
		width: 75vw;
	}

}

@media (max-width: 550px){
	.logo{
		display: none;
		visibility: hidden;
	}

	header{
		width: 100%;
		display:inline-block;
	}

}

@media (max-width: 430px){
	nav{
		margin-right: 5rem;
	}
}