{% extends 'base.html' %}
{% block title %}
    Solar
{% endblock %}
{% block content %}
<head>
  <link href="{{ url_for('static',filename='css/error/client/410.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="mainbox">
      <div class="err">4</div>
      <div class="err2">1</div>
      <i class="far fa-question-circle fa-spin"></i>
      <div class="msg">
        intenta acceder a un activo que ya no existe en el servidor solicitado.
          <p>Regresar al <a href="{{ url_for('home') }}">inicio</a> e intente nuevamente.</p></div>
        </div>
{% endblock %}