<link href="{{ url_for('static',filename='css/ingc/contact_with_us.css') }}" rel="stylesheet" type="text/css">
<form action="{{ url_for('ingc.sending_email_contact') }}" class="form" method="post">
    <h2>CONTÁCTATE</h2>
    <p type="Nombre:"><input placeholder="Escribe tu nombre..." type="text" name="name" required></input></p>
    <p type="Correo:"><input placeholder="Déjanos cómo contactarnos contigo..." type="email" name="email" required></input></p>
    <p type="Mensaje:"><input placeholder="Qué nos quieres decir..." type="text" name="message" required></input></p>
    <button type="submit">Enviar</button>
    <div>
      <span class="fa fa-envelope-o"></span> solarbotsupp@gmail.com
    </div>
</form>
