{% extends 'base.html' %}
{% block title %}
    Solar
{% endblock %}
{% block content %}
<link href="{{ url_for('static',filename='css/ingc/index.css') }}" rel="stylesheet" type="text/css">

<div id="container" class="container">
<div class="bg-chat">
  <div id="chat" class="chat">
      <div id="messages" class="messages">
        <div id="bot" class="bot response">
          <img src="/static/img/icons/solar.png" class="avatar">
          <span>¡Hola! Soy Solar y seré tu asistente virtual. <br>
            Si eres nuev@ y no tienes idea de qué preguntar y cómo, puedes checar en la sección "Palabras Clave"</span>
        </div>
      </div>
          <input type="text" name="chat" id="question" placeholder="Escribe un Mensaje" style="border-top: none; border-left: none; border-right: none;"/>
          <button class="send" type="button" id="btns">Enviar</button>
  </div>
</div>
</div>
<div class="container2">
  <div class="options">
    <a href="{{ url_for('ingc.faq') }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-lightbulb"></i>  Preguntas Frecuentes&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a href="{{ url_for('ingc.keywords') }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-lightbulb"></i>  Palabras Clave&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a href="{{ url_for('ingc.contact_with_us') }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-lightbulb"></i>  ¡Contáctate con Nosotros!&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a href="{{ url_for('ingc.suggest_question') }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-lightbulb"></i>  ¡Colabora una pregunta!&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a href="{{ url_for('ingc.logout') }}"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Cerrar Sesión  </a>
  </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/ingc/index.js') }}"></script>
{% endblock %}